Package: notefly
Version: 2.0.0-rc1
Section: Utilities
Maintainer: d9ping <tomheefteenwebsite@hotmail.com>
Homepage: http://www.notefly.org
Priority: optional
Essential: no
Architecture: all
Installed-Size: 148
Depends: mono-runtime,libmono-system2.0-cil,libmono-winforms2.0-cil,libmono2.0-cil,libmono-security2.0-cil,ttf-freefont
Description: NoteFly
 A small advance note taking application
 .
 A note application that has several skins, can sticky notes on top.
 Create transparent note, create a email of a note, can highlight notes
 that have html, php or sql content. And has a lot of options
 to customize the way notefly looks.
