
[Desktop Entry]
Name=NoteFly
Version=1.0
Encoding=UTF-8
Comment=A note taking application
Exec=/usr/bin/notefly
Icon=icon.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;
Name[nl_NL]=desktop.desktop
